.stats {
    margin-bottom: clamp(1.75rem, 0.85rem + 4.5vw, 6.25rem);
    &__list {
        display: flex;
        gap: 126px;
        @media(max-width: 1024px) {
            justify-content: space-between;
            gap: 49px;

        }
    }
}
